* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.button {
    cursor: pointer;
    margin: 0.5rem;
}

#root {
    margin: 0;
}

.main-heading {
    margin: 0;
}

.header {
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.heading-nav-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 40px;
    height: 40px;
}

.main-nav {
    margin: 1em;
}

.link {
    margin: 0 0.5rem;
}

.top-level-container {
    margin: 0;
    min-height: 100vh;
}

.main-section {
    width: 90%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-heading,
.error-message {
    color: red;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-text {
    font-weight: bold;
}

.modal[open] {
    padding: 2em;
    border: 1px solid black;
    background-color: lightgray;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 0.5rem;
}